@keyframes slide-in {
  from {
    transform: translateX(100%);
    opacity: 0;
  }
  to {
    transform: translateX(0);
    opacity: 1;
  }
}

.animate-slide-in {
  animation: slide-in 0.3s ease-out;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.headContainer{
    display: flex;
    justify-content: space-between;
    padding: 1rem;
    align-items: center;
}

.imageLogo{
    width: 4rem;
    height: 4rem;
    border-radius: 10px;
}

.buttonPay{
    width: 8rem;
    height: 3rem;
    border-radius: 20px;
    cursor: pointer;
    /* border: 1px solid black; */
}

.buttonPay:hover{
    transition: 1s;
    color: white;
    background-color: rgb(217, 93, 21);
}

/* ------------ MA PAGE PANIER ------------------- */

.buttonZonga{
    width: 9rem;
    height: 2rem;
    border-radius: 10px;
    cursor: pointer;
}

.buttonZonga:hover{
    transition: 1s;
    color: white;
    background-color: rgb(217, 93, 21);
}

.CommanderButton{
    width: 10rem;
    height: 2.5rem;
    border-radius: 15px;
    cursor: pointer;
}

.CommanderButton:hover{
    transition: 1s;
    color: white;
    background-color: rgb(217, 93, 21);
}